<section class="ui raised segment">
    <div class="ui grid ">
        <div class="ui form sixteen wide column">
            <div class="ui stacked segment">
                <form action="/review" method="POST">
                    <div class="field">
                        <label>Title</label>
                        <input placeholder="Title" type="text" name="reviewName">
                    </div>
                    <div class="field">
                        <label>Details</label>
                        <textarea rows="4" cols="50" name="reviewDetails" placeholder="Please enter details"></textarea>
                    </div>
                    <div class="ui dropdown" name="rating">
                        <input type="hidden" name="rating">
                        <div class="text">Select Rating</div>
                        <i class="ui dropdown icon"></i>
                        <div class="menu">
                            <div class="item">Bad</div>
                            <div class="item">OK</div>
                            <div class="item">Good</div>
                        </div>
                    </div>
                    <div class="grouped inline fields">
                        <h3> Select Island </h3>
                        {{#each points }}
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="point" value="{{name}}">
                                    <label>{{name}}</label>
                                </div>
                            </div>
                        {{/each}}
                    <button class="ui blue submit button">Submit Review</button>
                </form>
            </div>
        </div>

    </div>
</section>