{{> mainmenu _id="updatePoi" }}

<div class="ui stacked fluid form segment">
    <form action="/poi/updatePoi/{{point._id}}" method="POST">
        <div class="field">
            <label>Name</label>
            <input value="{{point.name}}" type="text" name="name">
        </div>
        <div class="field">
            <label>Details</label>
            <textarea type="text" name="details">{{point.details}}</textarea>
        </div>
        <div class="ui radio checkbox">
            <div class="field">
                <input type="radio" name="category" value="North">
                <label>North</label>
            </div>
        </div>
        <div class="ui radio checkbox">
            <div class="field">
                <input type="radio" name="category" value="East">
                <label>East</label>
            </div>
        </div>
        <div class="ui radio checkbox">
            <div class="field">
                <input type="radio" name="category" value="West">
                <label>West</label>
            </div>
        </div>
        <div class="ui radio checkbox">
            <div class="field">
                <input type="radio" name="category" value="South">
                <label>South</label>
            </div>
        </div>
        <button class="ui blue submit button">Add</button>
    </form>
    {{> error}}
</div>